{% extends "layout.html" %}
{% block content %}
    <div class="justify-content-center">
        <div class="row justify-content-center">
            {% for pick in goalkeepers %}
            <div class="col-2">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <img srcset="{{ pick['image_url'] }}" alt="Player Image"><br>
                    <div class="box" style="font-family: 'Radikal', Arial, sans-serif; text-align: center; margin-bottom: 30px;">
                        <div style="background-color:rgb(55, 0, 60); color: #fff;border-top-left-radius: 5px; border-top-right-radius: 5px;  padding: 2px;">
                        <b class="title">{{ pick['web_name'] }}</b><br>
                        </div>
                        <div class="description" style="background-color: rgba(255, 255, 255, 0.4); color: rgb(55, 0, 60); padding: 2px;">
                            {{ pick['team'] }}<br>
                            {{ (pick['now_cost']/10)|float|string }} £
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% for pick in defenders %}
            <div class="col-2">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <img srcset="{{ pick['image_url'] }}" alt="Player Image"><br>
                    <div class="box" style="font-family: 'Radikal', Arial, sans-serif; text-align: center; margin-bottom: 30px;">
                        <div style="background-color:rgb(55, 0, 60); color: #fff;border-top-left-radius: 5px; border-top-right-radius: 5px;  padding: 2px;">
                        <b class="title">{{ pick['web_name'] }}</b><br>
                        </div>
                        <div class="description" style="background-color: rgba(255, 255, 255, 0.4); color: rgb(55, 0, 60); padding: 2px;">
                            {{ pick['team'] }}<br>
                            {{ (pick['now_cost']/10)|float|string }} £
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% for pick in midfielders %}
            <div class="col-2">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <img srcset="{{ pick['image_url'] }}" alt="Player Image"><br>
                    <div class="box" style="font-family: 'Radikal', Arial, sans-serif; text-align: center; margin-bottom: 30px;">
                        <div style="background-color:rgb(55, 0, 60); color: #fff;border-top-left-radius: 5px; border-top-right-radius: 5px;  padding: 2px;">
                        <b class="title">{{ pick['web_name'] }}</b><br>
                        </div>
                        <div class="description" style="background-color: rgba(255, 255, 255, 0.4); color: rgb(55, 0, 60); padding: 2px;">
                            {{ pick['team'] }}<br>
                            {{ (pick['now_cost']/10)|float|string }} £
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% for pick in forwards %}
            <div class="col-2">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <img srcset="{{ pick['image_url'] }}" alt="Player Image"><br>
                    <div class="box" style="font-family: 'Radikal', Arial, sans-serif; text-align: center; margin-bottom: 30px;">
                        <div style="background-color:rgb(55, 0, 60); color: #fff;border-top-left-radius: 5px; border-top-right-radius: 5px;  padding: 2px;">
                        <b class="title">{{ pick['web_name'] }}</b><br>
                        </div>
                        <div class="description" style="background-color: rgba(255, 255, 255, 0.4); color: rgb(55, 0, 60); padding: 2px;">
                            {{ pick['team'] }}<br>
                            {{ (pick['now_cost']/10)|float|string }} £
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <style>
        /* Small screen */
        @media (max-width: 767px) {
            img {
                max-width: 70px;
                max-height: 100px;
            }
            .box {
                width: 75px;
            }
            .title {
                font-size: 10px;
            }
            .description {
                font-size: 10px;
            }
        }
    
        /* Big screen */
        @media (min-width: 768px) {
            img {
                max-width: 90px;
                max-height: 120px;
            }
            .box {
                width: 150px;
            }
        }
    </style>
{% endblock content %}