<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">

    {% if title %}
        <title>FPL Picks - {{ title }}</title>
    {% else %}
        <title>FPL Picks</title>
    {% endif %}
</head>
<body style="background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0,255,133), rgb(2, 239, 255), rgb(98, 123, 255));; background-size: cover; background-repeat: no-repeat;">
    <header class="site-header" style="margin-bottom: 50px;">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: rgb(55, 0, 60); z-index: 9999;">
        <div class="container">
          <a class="navbar-brand mr-4" style="color: #fff; font-family: 'Radikal', Arial, sans-serif;" href="/">Fantasy Premier League Picks</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" style="color: #fff; font-family: 'Radikal', Arial, sans-serif;" href="/">Home</a>
                <a class="nav-item nav-link" style="color: #fff; font-family: 'Radikal', Arial, sans-serif;" href="/stats">Stats</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container" style="padding-top: 100px;">

          {% block content %}{% endblock %}
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>